@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div style="display:table-cell; vertical-align:middle; text-align:center">
        <img src="~/Content/img/lost-dog.jpg" alt="Lost Dog" style="width:80%;">
    </div>

    <div class="col-md-12" style="text-align:center">
            <h3>J'ai perdu mon animal !</h3>
            <h3>J'ai trouvé un animal errant !</h3>
            <h4>Sur PetAlert, vous pourrez publier une annonce pour tenter le retrouver et voir les animaux signalés</h4>
    </div>
</div>