@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PetAlert</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bienvenue !</h2>
    </div>
    <div class="col-md-4">
        <h2>J'ai perdu mon animal</h2>
        <p>Vous pourrez publier une annonce pour le retrouver</p>
    </div>

</div>